body {
    color: white;
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    color: #e2e2e2;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 1px solid #999;
}

.table > thead > tr > th {
    border-bottom: 1px solid #999;
}

.content-wrapper, .right-side, .main-footer {
    background-color: #606060;
}

.main-footer, .main-footer a {
    color: white;
}

.box {
    background-color: #4a4a4a;
}

.box-header, .box-footer {
    background-color: #3a3a3a;
    color: white;
}

.box-footer {
    border-top: none;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #5a5a5a;
}

.bg-gray-dark{
    background-color: #4a4a4a;
}

.radarChart {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 300;
    fill: white;
    cursor: default;
}

text.axisLabel {
    fill: white;
}

.small-box > .small-box-header {
    position: relative;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}