ul.sidebar-menu
  li(class=(route==='index' ? "active" : ""))
    a(href='index.html')
      i.fa.fa-home
      span Dashboard
  li(class=(route==='maintainability' ? "active" : ""))
    a(href='maintainability.html')
      i.fa.fa-dollar
      span Maintainability
  li(class=(route==='stability' ? "active" : ""))
    a(href='testability.html')
      i.fa.fa-bank
      span Testability
  li(class=(route==='testability' ? "active" : ""))
    a(href='complexity.html')
      i.fa.fa-filter
      span Complexity
  li(class=(route==='scalability' ? "active" : ""))
    a(href='scalability.html')
      i.fa.fa-calendar
      span Scalability