ul.sidebar-menu
  li(class=(route==='index' ? "active" : ""))
    a(href='index.html')
      i.fa.fa-home(style="margin-right:5px;")
      span Dashboard
  li(class=(route==='maintainability' ? "active" : ""))
    a(href='maintainability.html')
      i.fas.fa-wrench(style="margin-right:5px;")
      span Maintainability
  li(class=(route==='testability' ? "active" : ""))
    a(href='testability.html')
      i.fas.fa-bug(style="margin-right:5px;")
      span Testability
  li(class=(route==='complexity' ? "active" : ""))
    a(href='complexity.html')
      i.fab.fa-connectdevelop(style="margin-right:5px;")
      span Complexity
  li(class=(route==='scalability' ? "active" : ""))
    a(href='scalability.html')
      i.fas.fa-chart-line(style="margin-right:5px;")
      span Scalability
  li(class=(route === 'documentation' ? "active" : ""))
    a(href='documentation.html')
      i.fas.fa-info-circle(style="margin-right:5px;")
      span Documentation