aside.control-sidebar.control-sidebar-dark
  // Create the tabs
  ul.nav.nav-tabs.nav-justified.control-sidebar-tabs
    li.active
      a(href='#control-sidebar-settings-tab', data-toggle='tab')
        i.fa.fa-gears
  // Tab panes
  .tab-content
    // Settings tab content
    #control-sidebar-settings-tab.tab-pane.active
      form(method='post')
        h3.control-sidebar-heading General Settings
        .form-group
          | Comming Soon...
        // /.form-group
    // /.tab-pane
.control-sidebar-bg
